<app-toast *ngIf="randomPasswordError" [title]="'Error when generating password'" [input]="randomPasswordError" [isError]="true"></app-toast>

<div class="container-fluid">
  <h5>Generate random password</h5>
  <form #fRandom="ngForm" (ngSubmit)="generateRandomPassword(fRandom)">
    <div class="form-group row">
      <label for="passwordLength" class="col-sm-2 col-form-label">Length</label>
      <div class="col-sm-10">
        <input class="form-control" required type="number" placeholder="Password length" name="passwordLength" [(ngModel)]="passwordLength" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2">Options</div>
      <div class="col-sm-10">
        <div class="custom-control custom-switch">
          <input class="custom-control-input" type="checkbox" name="useChars" [(ngModel)]="useChars" id="use-chars" />
          <label class="custom-control-label" for="use-chars">Use characters</label>
        </div>
        <div class="custom-control custom-switch">
          <input class="custom-control-input" type="checkbox" name="useDigits" [(ngModel)]="useDigits" id="use-digits" />
          <label class="custom-control-label" for="use-digits">Use digits</label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <button class="btn btn-primary" [disabled]="isFRandomDisabled(fRandom)" type="submit">Generate</button>
      </div>
      <div class="col-sm-10">
        <h4 class="text-success">{{ randomPassword }}</h4>
      </div>
    </div>
  </form>
</div>

<hr />

<app-toast *ngIf="scoreError" [title]="'Error when computing password score'" [input]="scoreError" [isError]="true"></app-toast>

<div class="container-fluid">
  <h5>Compute password score</h5>
  <form #fScore="ngForm" (ngSubmit)="computeScore(fScore)">
    <div class="form-row">
      <div class="col">
        <label for="password" class="sr-only">Password</label>
        <input class="form-control" required type="password" placeholder="Password" name="password" [(ngModel)]="password.value" />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-2">
        <button class="btn btn-primary" [disabled]="!password.value" type="submit">Score</button>
      </div>
      <div class="col-sm-10">
        <h4 [ngClass]="scoreClass">{{ score.score }}</h4>
      </div>
    </div>
  </form>
</div>
